<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基金</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
</head>
<body>
<input type="button" alt="今天收益" value="今天收益" onclick="getFund()">
<th:block th:if="${infos !=null}">
    <tr>
        <th>基金代码</th>
        <th>基金名称</th>
        <th>持有份额</th>
        <th>净值估算</th>
        <th>预计盈利</th>
    </tr>
</th:block>
</body>
<script>
    function getFund(){
        $.ajax({
            url: "/fund",
            // dataType: "json",
            // contentType: "application/json",
            success:function (){
                window.location = "/fund"
                }
        })
    }
</script>
</html>